/*  SCREEN LEVEL */

.bookings-screen-wrapper {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/clay-banks-cEzMOp5FtV4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  padding: 19vh 0 5vh 0;
  grid-template-areas:
    ". . . . box0 box4 box3"
    ". . . . . . box3"
    ". . . . . . box2"
    ". . . . . . box1";
  /* background-color: #84d78f;
  background-blend-mode: hard-light; */
}

/* CARD STYLES */

.card {
  background-color: transparent;
  display: flex;
  flex: 0.8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  text-align: center;
  animation: drop 1.3s ease;
  /* border: 0.35rem solid #bcb3a4; */
}

.heading {
  /* background-color: #bcb3a4; */
  border-bottom: 1px solid #bcb3a4;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.heading h1 {
  color: #bcb3a4;
  font-size: 3rem;
  text-shadow: 2px 2px #e6e6e6;
  font-weight: bold;
}

.preview-image {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 2rem;
  /* background-color: #279fe3; */
}

.body {
  /* margin: 1vh 0 0 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: center;
  flex: 2;
  /* background-color: green; */
  width: 100%;
}

.payment-calculator {
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  /* margin: 20px; */
  padding: 0 2rem;
  /* border-top: 1px solid #cccccc; */
  /* margin: 0 2rem; */
}

.card-footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.final-payment-calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  /* border: 3px solid #bcb3a4; */
  width: 80%;
  height: 50%;
  border-radius: 6px;
  margin-right: 10px;
  color: #fff;
  background-color: #bcb3a4;
  font-weight: bold;
}

.final-payment-stripe {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40%; */
  border-radius: 5px;
  /* margin-right: 10px; */
}

/* MISC. */

.plans-screen-wrapper {
  background-image: url(./images/bench-accounting-nvzvOPQW0gc-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 17vh 5vh 5vh 5vh;
  display: flex;
  height: 100vh;
  /* grid-template-areas:
    "clean-s plan clean-g"
    ". to-gardening ."; */
  /* background-color: #e6e6e6 */
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.8;
  height: 80%;
}

.medium-circle {
  position: absolute;
  top: 32%;
  right: 40%;
  z-index: -1;
  opacity: 0.8;
  height: 60%;
}

.small-circle {
  position: absolute;
  bottom: 0px;
  left: 3%;
  opacity: 1;
  z-index: -1;
}

.silver-clean {
  flex: 0.8;
  /* width: 20vw; */
  display: flex;
  flex-direction: column;
  grid-area: clean-s;
  /* background-color: #3ab34a; */
  /* border: 2px solid #3ab34a; */
  align-items: center;
  justify-content: center;
  margin: 2.5vh 0 2.5vh 0;
  border-radius: 2.5vh;
  text-align: center;
}

.bs-right {
  box-shadow: 5px 5px #aca18e;
}

.bs-left {
  box-shadow: -5px 5px #aca18e;
}

.poster {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: plan;
  /* background-color: yellow; */
  justify-content: center;
  animation: drop 0.9s ease;
}

.to-gardening {
  grid-area: to-gardening;
  background-color: rebeccapurple;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-self: center;
  font-weight: bold;
}

.silver-garden {
  grid-area: garden-s;
  background-color: yellow;
}

.gold-garden {
  grid-area: garden-g;
  /* background-color: blue; */
}

.loader {
  height: 200px;
  background-color: #8cc540;
}

.button > button {
  background-color: green;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.title {
  /* text-align: center; */
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
  text-transform: uppercase;
  margin: 4vh 0 0 0;
  flex: 1;
}

.title h5 {
  font-weight: bold;
  font-size: 1.3rem;
}

.custom-screen-wrapper-2 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/volha-flaxeco-jCPL0oxBhB0-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.premium-screen-wrapper-3 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/markus-spiske-g5ZIXjzRGds-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.deluxe-screen-wrapper-4 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/cleanroom-big\ copy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.economy-screen-wrapper-5 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.standard-screen-wrapper-6 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.description {
  flex: 1;
  background-color: transparent;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.left {
  flex: 1;
  /* background-color: #3ab34a; */
  padding: 30px;
  display: flex;
}

.right {
  flex: 1;
  /* background-color: red; */
  /* padding: 30px; */
  display: flex;
}

.payment-info {
  flex: 3;
  background-color: #292929;
  margin: 10px;
  /* border-radius: 10px; */
  opacity: 0.85;
  /* box-shadow: 13px 13px grey; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px 0 0 0;
  border: 5px solid grey;
  /* box-shadow: 8px 8px green; */
}

.payment-title {
  flex: 2;
  /* background-color: red; */
  text-align: center;
  font-size: 3rem;
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
  text-transform: capitalize;
  /* border-bottom: green 4px solid; */
  text-transform: uppercase;
}

.payment-title h4 {
  margin: 0 1.5rem 0 1.5rem;
}

.payment-table {
  margin: 2rem;
  flex: 6;
  background-color: pink;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.payment {
  flex: 1;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border-top: green 4px solid; */
  padding: 20px;
  /* border-radius: 15px; */
}

.payment-section-1 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.circle {
  flex: 1;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  /* border-radius: 8px; */
}

.quantity {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #aca18e;
  /* font-weight: bold; */
}

.add {
  justify-content: center;
  display: flex;
}
.subtract {
  justify-content: center;
  display: flex;
}

.circle button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aca18e;
  color: #fff;
  border-radius: 1rem;
  border: none;
  font-size: 15px;
  font-weight: bold;
  height: 45px;
  width: 45px;
}

.payment-section-2 {
  display: flex;
  flex: 1;
}

.payment-section-3 {
  flex: 1;
  justify-content: center;
  display: flex;
}

.payment-button-wrapper {
  flex: 1;
  /* background-color: blue; */
  margin: 10px;
  border-radius: 10px;
}

.title-container {
  background-color: #292929;
  margin: 0 50px 0 50px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
  /* box-shadow: 13px 13px grey; */
}

.title-container h1 {
  font-size: 2.8rem;
  /* text-align: center; */
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
}

.title-container h3 {
  /* font-size: 2.8rem; */
  /* text-align: center; */
  color: grey;
  text-shadow: 1px 1.5px #000;
}

.bookings-header-wrapper {
  text-align: center;
  margin-top: 5vh;
}

.plans-wrapper {
  /* background-color: aqua; */
  margin-top: 18vh;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  height: 300px;
  align-items: center;
  justify-items: center;
}

.box0 {
  grid-area: box0;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/volha-flaxeco-jCPL0oxBhB0-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: drop 0.5s ease;
}

.box1 {
  grid-area: box1;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: drop 0.7s ease;
}

.box4 {
  grid-area: box4;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    /**3ab34a*/ url("./images/markus-spiske-g5ZIXjzRGds-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: drop 0.9s ease;
}

.box3 {
  grid-area: box3;
  flex: 1;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/cleanroom-big.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: drop 1.1s ease;
}

.box2 {
  grid-area: box2;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: drop 1.3s ease;
}

.button-section {
  display: flex;
  flex-direction: row;
  background-color: #292929;
  width: 100%;
  flex: 0.4;
  border-radius: 0px 0 10px 10px;
  justify-items: center;
}

.button {
  padding: 8px 5px 5px 15px;
  flex: 1;
}

.button h5 {
  color: #8cc540;
  text-shadow: 1px 1px grey;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  opacity: 0.9;
  font-size: 1rem;
}
