.bookings-screen-wrapper {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/clay-banks-cEzMOp5FtV4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  padding: 19vh 0 5vh 0;
  grid-template-areas:
    ". . . . box0 box4 box3"
    ". . . . . . box3"
    ". . . . . . box2"
    ". . . . . . box1";
}

.button > button {
  background-color: green;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.title {
  /* text-align: center; */
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
  text-transform: uppercase;
  margin: 4vh 0 0 0;
  flex: 1;
}

.title h5 {
  font-weight: bold;
  font-size: 1.3rem;
}

.bookings-screen-wrapper-2 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.bookings-screen-wrapper-3 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/markus-spiske-g5ZIXjzRGds-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.bookings-screen-wrapper-4 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/cleanroom-big\ copy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.bookings-screen-wrapper-5 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.bookings-screen-wrapper-6 {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/joseph-greve-Xdk7tFHP6kU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.description {
  flex: 1;
  background-color: yellow;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.left {
  flex: 1;
  /* background-color: #3ab34a; */
  padding: 30px;
  display: flex;
}

.right {
  flex: 1;
  /* background-color: red; */
  padding: 30px;
  display: flex;
}

.payment-info {
  flex: 3;
  background-color: purple;
  margin: 10px;
  border-radius: 10px;
}

.payment-button-wrapper {
  flex: 1;
  background-color: blue;
  margin: 10px;
  border-radius: 10px;
}

.title-container {
  background-color: #292929;
  margin: 0 50px 0 50px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 13px 13px grey;
}

.title-container h1 {
  font-size: 2.8rem;
  /* text-align: center; */
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
}

.title-container h3 {
  /* font-size: 2.8rem; */
  /* text-align: center; */
  color: grey;
  text-shadow: 1px 1.5px #000;
}

.bookings-header-wrapper {
  text-align: center;
  margin-top: 5vh;
}

.plans-wrapper {
  /* background-color: aqua; */
  margin-top: 18vh;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  height: 300px;
  align-items: center;
  justify-items: center;
}

.box0 {
  grid-area: box0;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box1 {
  grid-area: box1;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/joseph-greve-Xdk7tFHP6kU-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box2 {
  grid-area: box2;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box3 {
  grid-area: box3;
  flex: 1;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/cleanroom-big.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box4 {
  grid-area: box4;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #292929;
  box-shadow: 8px 8px grey;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    /**3ab34a*/ url("./images/markus-spiske-g5ZIXjzRGds-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-section {
  display: flex;
  flex-direction: row;
  background-color: #292929;
  width: 100%;
  flex: 0.4;
  border-radius: 0px 0 10px 10px;
  justify-items: center;
}

.button {
  padding: 8px 5px 5px 15px;
  flex: 1;
}

.button h5 {
  color: #8cc540;
  text-shadow: 1px 1px grey;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  opacity: 0.9;
  font-size: 1rem;
}
