/*  Application Level */

.gallery-screen-wrapper {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(./images/cleanoffice+pic.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("./images/philipp-berndt-5i0GnoTTjSE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.gallery-screen-wrapper-2 {
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("./images/Clean-office.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3ab34a;
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
}

.bedrooms {
  display: flex;
  flex: 1;
  /* background-color: red; */
}

.button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 13px;
}

.inline-styles {
  display: flex;
  width: 100%;
  height: 100px;
  color: #3ab34a;
  font-weight: 700;
  font-size: 30px;
  background-color: "white";
  text-transform: uppercase;
  align-items: "center";
  border: "none";
}

.kitchen {
  display: flex;
  flex: 1;
  /* background-color: blue; */
}
.bathrooms {
  display: flex;
  flex: 1;
  /* background-color: yellow; */
}
.gardens {
  display: flex;
  flex: 1;
  /* background-color: green; */
}

.gallery-header-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* background-color:purple; */
  margin: 16vh 5vh 5vh 5vh;
  border-radius: 10px;
  opacity: 0.8;
  animation: drop 1.3s ease;
}

.gallery-header-background {
  background-color: #fff;
  opacity: 1;
  padding: 15px;
  margin: 0 15vh 0 15vh;
  border-radius: 15px;
  box-shadow: 10px 10px grey;
}

.gallery-header-wrapper h1 {
  text-align: center;
  /* background-color: #292929; */
  font-size: 2.8rem;
  /* text-align: center; */
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
}

.gallery-header-wrapper h3 {
  text-align: center;
  color: #8cc540;
  /* text-shadow: 1px 1.5px #000; */
  /* font-weight: 400; */
  /* font-style: italic; */
  padding: 0 10vh 0 10vh;

  font-size: 1.1rem;
  /* text-align: center; */
  text-shadow: 1px 1px grey;
  text-transform: uppercase;
}

.gallery-preview {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 8vh 2vh 0vh 2vh;
}

.button-row {
  display: flex;
}

.btn {
  /* margin-top: 3vh; */
  justify-content: center;
  /* background-color: aqua; */
  display: flex;
  width: 100%;
}

.wrapper {
  display: grid;
  margin: 0 2rem 0 2rem;
  grid-gap: 20px;
}

.header-wrapper {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  color: #fff;
}

.header-wrapper h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

/* Gallery */
.gallery-items-wrapper {
  margin-top: 17.5vh;
  flex: 1;
  padding: 20px 20px 20px 20px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);

  /* background-color: crimson; */
}

.gallery-item-wrapper {
  justify-content: center;
  display: flex;
  position: relative;
  height: 280px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px #8cc540;
  /* animation: drop 1.3s ease; */
}

.one {
  animation: drop 0.6s ease;
}
.two {
  animation: drop 0.8s ease;
}
.three {
  animation: drop 0.9s ease;
}
.four {
  animation: drop 1.1s ease;
}
.five {
  animation: drop 0.7s ease;
}
.six {
  animation: drop 0.9s ease;
}
.seven {
  animation: drop 1.1s ease;
}
.eight {
  animation: drop 1.3s ease;
}

.item-img {
  display: flex;
  height: 350;
  width: 100%;
  border-radius: 15px;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

.item-content-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  transition: 1s;
}

.item-content-wrapper:hover {
  background-color: #000;
}

.item-content-wrapper h4 {
  background-color: transparent;
  transition: 1s;
  color: transparent;
}

.item-content-wrapper:hover h4 {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}
