.gallery-screen-wrapper {
    /* font-family: "Satisfy"; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/cdc-wz3ijPHvL54-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh
}