.screen {
  height: 100vh;
}

.navbar-placeholder {
  height: 15vh;
}

.screen-container {
  display: flex;
  margin: 0vh 2vh 0 2vh;
  padding: 2vh 0 2vh 0;
  height: 85vh;
}

.gallery-landing {
  background-color: #edefea;
  /* background-image: url(./images/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg); */
  background-position: center;
  background-size: cover;
}

.gallery-header {
  display: flex;
  flex: 1;
  /* background-color: red; */
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  margin: 0rem 20%;
}
.gallery-header > h4 {
  font-weight: 500;
  color: grey;
  /* background-color: grey; */
  padding: 0.5rem;
  /* border-radius: 0.7rem; */
  border-bottom: 2px solid grey;
}

.gallery-grid-container {
  display: flex;
  flex: 7;
  /* background-color: blue; */
}

.showcase-grid {
  flex: 1;
  display: grid;
  grid-gap: 20px;
  padding: 1rem 5rem;
  /* border: 5px solid aqua; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.3rem;
}
.bathroom {
  border-radius: 5px;
  /* height: 135px; */
  /* width: 135px; */
  background-image: url(./images/soap-dispenser-2337697_640.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  margin: 0.8rem;
  /* box-shadow: 7px 7px grey; */
  border: 2px solid grey;
}
.bedroom {
  display: block;
  /* height: 135px; */
  /* width: 135px; */
  border-radius: 5px;
  /* margin: auto; */
  background-image: url(./images/liana-mikah-WMcitUcSgEg-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  margin: 0.8rem;
  /* box-shadow: 7px 7px grey; */
  border: 2px solid grey;
}
.kitchen {
  /* height: 135px; */
  /* width: 135px; */
  border-radius: 5px;
  /* justify-self: end; */
  background-image: url(./images/lukas-blazek-f-TWhXOrLiU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  margin: 0.8rem;
  /* box-shadow: 7px 7px grey; */
  border: 2px solid grey;
}
.garden {
  border-radius: 0.5rem;
  /* height: 135px; */
  /* width: 135px; */

  /* justify-self: end; */
  background-image: url(./images/hunt-han-4QdIiHPLnfI-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  margin: 0.8rem;
  /* box-shadow: 7px 7px grey; */
  border: 2px solid grey;
}
