.contact-screen-wrapper {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/anton-SnKfmC1I9fU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contact-items-wrapper {
  background-color: #F8F8FF;
  /* height: 40px; */
  display: flex;
  margin: 20px;
  border-radius: 10px;
  opacity: 0.9;
}

.left {
  flex: 1;
  display: flex;
  padding: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  /* background-color: blueviolet; */
}

.form {
  flex: 1;
  background-color: #292929;
  border-radius: 10px;
}

.shadow {
  box-shadow: 15px 20px grey;
  padding: 2rem;
  opacity: 0.6;
}

.header-wrapper-contact {
  /* background-color: red; */
  background-color: #292929;
  color: #fff;
  opacity: 0.8;
  justify-self: center;
}

.header-wrapper-contact h1 {
  text-align: center;
  padding: 1rem;
}

.text-wrapper {
  background-color: chocolate;
  width: 20%;
}


.description {
  /* background-color: red; */
  display: flex;
  flex : 1;
  flex-direction: column;
}

.header {
  flex : 1;
  /* background-color: blue; */
}

.header {
  text-align: center;
}

.sub-header {
  text-align: center;
  /* background-color: brown; */
}

.main {
  flex : 3;
  background-color: chartreuse;
}