.contact-flex-container {
  display: flex;
  flex: 2;
}

.contact-column-1 {
  display: flex;
  flex: 0.5;
  background-color: #3ab34a;
  flex-direction: column;
  transition: 1s;
}

/* .contact-column-1:hover {
  flex: 2;
} */

.contact-column-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* align-items: center; */
  /* justify-content: center; */
  flex: 1;
  background-color: #3ab34a;
  transition: 1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 179, 74, 0.6)),
    url(./images/nathan-dumlao-IQzbxZnQjGM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 0.2rem solid #fff;
  border-bottom: 0.1rem solid #fff;
  /* border-top-left-radius: 1rem; */
}

/* .contact-column-1-1:hover {
  flex: 3;
} */

.contact-column-1-2 {
  display: grid;
  /* align-items: center;
  justify-content: center; */
  flex: 1;
  background-color: #3ab34a;
  transition: 1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 179, 74, 0.6)),
    url(./images/stephen-phillips-hostreviews-co-uk-3Mhgvrk4tjM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 0.2rem solid #fff;
  border-top: 0.1rem solid #fff;
  border-bottom-left-radius: 1rem;
}

/* .contact-column-1-2:hover {
  flex: 3;
} */

.contact-column-2 {
  display: flex;
  flex: 1;
  background-color: #8cc540;
  transition: 1s;
}

/* .contact-column-2:hover {
  flex: 2;
} */

.contact-column-2-1 {
  display: grid;
  /* align-items: center;
  justify-content: center; */
  flex: 1;
  background-color: yellow;
  transition: 1s;
  /* background-image: url(./images/quino-al-8gWEAAXJjtI-unsplash.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 179, 74, 0.6)),
    url(./images/quino-al-8gWEAAXJjtI-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 0.2rem solid #fff;
}

/* .contact-column-2-1:hover {
  flex: 3;
} */

.contact-column-2-2 {
  display: grid;
  /* align-items: center;
  justify-content: center; */
  flex: 1;
  background-color: orange;
  transition: 1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 179, 74, 0.6)),
    url(./images/sangga-rima-roman-selia-bD_X4g_S_HU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border-top-right-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
}

/* .contact-column-2-2:hover {
  flex: 3;
} */

.contact-landing-footer {
  display: flex;
  flex: 1;
  background-color: #3ab34a;
  background-image: url(./images/Circular\ Cutaways\ Tumblr\ Banner-10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
