.contact-screen-wrapper {
  /* font-family: "Satisfy"; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/anton-SnKfmC1I9fU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  /* background-color: #84D78F;
  background-blend-mode: hard-light; */
}

.contact-items-wrapper {
  flex: 1;
  /* background-color: crimson; */
  margin-top: 15vh;
  display: grid;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . container"
    ". . . . .";
  padding: 20px 40px 0 0;
}

.contact-container {
  background-color: #292929;
  grid-area: container;
  border-radius: 15px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 8px 8px grey;
}

.contact-header {
  align-items: center;
  margin: 10px;
  /* background-color: hotpink; */
}

/* .contact-header h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
} */

.contact-description {
  flex: 1;
  /* background-color: indianred; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

.contact-description i {
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
}

.contact-description h5 {
  color: #3ab34a;
  text-shadow: 1px 1.5px #8cc540;
  font-weight: 550;
  text-transform: uppercase;
  /* font-style: italic; */
}

/* .content h2 {
  color : grey
} */

.box {
  width: 80%;
  height: 90%;
  /* background-color: indigo; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}
