/* .home {

} */

.screen {
  height: 100vh;
}

.navbar-placeholder {
  height: 15vh;
}

.screen-container {
  display: flex;
  margin: 0vh 2vh 0 2vh;
  padding: 2vh 0 2vh 0;
  height: 85vh;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.landing {
  background-image: url(./images/hutomo-abrianto-X5BWooeO4Cw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.landing-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex: 1.2;
}

.landing-top > h1 {
  grid-column: 2/4;
  grid-row: 2/3;
  font-size: calc(1.5rem + 1.8vw);
  text-align: center;
}

.landing-bottom {
  flex: 1;
}

.gardening {
  background-image: url(./images/cdc-wz3ijPHvL54-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.landing-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem grey;
}

.form-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: grey;
  opacity: 0.9;
}

.form-header > h1 {
  margin-top: 6px;
  text-shadow: 2px 2px #000;
  font-weight: bold;
}
.form-header > h5 {
  margin-top: 0px;
  color: #c0c0c0;
  font-weight: 550;
}

.form-body {
  display: flex;
  flex: 8;
  opacity: 0.95;
}

.form-footer {
  display: flex;
  flex: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  padding: 0 2.3rem 0 2.3rem;
  opacity: 0.9;
}

.button-wrapper {
  /* background-color: #3ab34a; */
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  /* margin-top: 8vh; */
}

.button-wrapper > div {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  /* margin: 0 0 0 5px; */
}

.landing-right {
  flex: 1.35;
}

.cleaning {
  background-color: blue;
}
