/* .home {

} */

.screen {
  height: 100vh;
}

.landing {
  background-color: red;
}

.gardening {
  background-color: yellow;
}

.cleaning {
  background-color: blue;
}

.navbar-placeholder {
  height: 13vh;
  /* background-color: aqua; */
}

.screen-container {
  margin: 2vh;
  background-color: white;
  height: 100%;
}
