.navbar-container {
  display: flex;
  justify-content: center;
  height: 9vh;
  width: 100%;
  background: rgb(58, 179, 74);
  background: linear-gradient(
    186deg,
    rgba(58, 179, 74, 1) 0%,
    rgba(139, 195, 67, 1) 100%
  );
  opacity: 0.95;
  transition: 1s;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 0.5rem;
  align-items: center;
  justify-content: center;
}

.main > div {
  align-items: center;
  justify-self: center;
  text-align: center;
  padding: 0rem 5vw;
}

.main > div:nth-child(1) {
  border-radius: 0.2rem;
}

.main > div:nth-child(2) {
  border-radius: 0.2rem;
}

.main > div:nth-child(3) {
  border-radius: 0.2rem;
}

.main > div > i {
  color: #fff;
}

.main > div > h4 {
  font-size: 0.85rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.4rem;
  text-transform: uppercase;
}

i {
  transition: 0.5s;
}

i:hover {
  color: #8bc343;
}

@media (max-height: 862px) {
  .main > div > h4 {
    display: none;
  }
}
