.navbar-wrapper {
  position: fixed;
  top: 0;
  opacity: 0.8;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
}

header {
  background-color: #fff;
  display: flex;
  height: 15vh;
  width: 100%;
  margin: auto;
  align-items: center;
  color: green;
  font-weight: bold;
  opacity: 0.8;
  padding: 0 5rem 0 5rem;
  position: fixed;
  top: 0;
  /* justify-content: space-between; */
}

.navbar-wrapper {
  display: flex;
}

.logo-wrapper {
  flex: 1;
  display: flex;
  /* background-color: blue; */
  align-self: center;
  justify-content: center;
  min-width: 10rem;
}

.main-wrapper {
  display: flex;
  flex: 2;
  /* background-color: red; */
  justify-content: space-evenly;
  list-style: none;
  /* background-color: red; */
  /* padding-top: 20px; */
}

.donation-wrapper {
  flex: 1;
  /* background-color: yellow; */
  min-width: 10rem;
  justify-content: center;
  display: flex;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.nav-links {
  /* background-color: red; */
}

.nav-links > div {
  /* background-color: blue; */
  /* margin : 0 5px 0 5px; */
}

.nav-links > div > .item {
  /* background-color: green */
}

.nav-link {
  margin: 0 2rem 0 2rem;
}

.nav-text {
  flex: 1;
  align-self: center;
  color: #3ab34a;
  font-weight: bold;
  text-align:  center;
}

.logo-container {
  background: lightblue;
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  /* background: lightcoral; */
  flex: 2;
  align-self: center;
}

.nav-links {
  /* justify-items: center; */
  list-style: none;
  /* background-color: red; */
  padding-top: 20px;
}

.nav-link {
  color: #3ab34a;
  font-size: 18px;
  text-decoration: none;
  /* background-color: coral; */
}

.item {
  /* display: flex; */
  /* flex: 1; */
  flex-direction: column;
  /* align-items: center; */
}

/* .icon {
  margin: 5px;
  flex: 1;
} */

.cart {
  /* background: lightgray; */
  flex: 1;
  justify-content: flex-end;
  min-width: 10rem;
}
